In [ ]:
import numpy as np

In [ ]:
mat1D = np.array([1,2,3,4,5,6,7,8,9])
mat2D = np.array([[10,20,30,40],[50,60,70,80],[90,100,110,120]])

In [ ]:
print(f"Nilai mat1D :\n{mat1D}")
print(f"Nilai mat2D :\n{mat2D}")

In [ ]:
print(mat1D[1])
print(mat2D[1])
print(mat2D[1][2])
print(f"mat1D ditambah dengan 10:\n{mat1D + 10}")
print(f"mat2D ditambah dengan 2:\n{mat2D + 2}")

In [ ]:
print(mat1D.shape)
print(mat1D.size)
print(f"bentuk dari mat2d:{mat2D.shape}")
print(f"ukuran dari mat2d:{mat2D.size}")

In [ ]:
#matrik spesial
mZero = np.zeros((4,4))
mOne = np.ones((3,3))
mIdentity = np.eye((3))
mFull = np.full((3,4),9)
mRand1D = np.random.rand(5)
mRand2D = np.random.rand(3,4)
mRandInt1D = np.random.randint(1,100,size=8)
mRandInt2D = np.random.randint(1,100,size=(3,3))

In [ ]:
print(f"mZero :\n{mZero}")
print(f"mOne :\n{mOne}")
print(f"mIdentity :\n{mIdentity}")
print(f"mFull :\n{mFull}")
print(f"mRand1D :\n{mRand1D}")
print(f"mRand2D :\n{mRand2D}")
print(f"mRandInt1D :\n{mRandInt1D}")
print(f"mRandInt2D :\n{mRandInt2D}")

In [ ]:
#operasi Aritmatik
x = np.array([1,2,3,4,5])
y = np.array([6,7,8,9,10])

r1= np.add(x,y)
r2= np.dot(x,y)

print(f"Hasil Penjumlahan x dan y:{r1}")
print(f"perkalian dot product x dan y:{r2}")

In [80]:
#Fungsi dasar statistik
nilaiProgramming = np.array([100,90,90,50,80,60,50,85])
print(f"nilai Pemrograman : {nilaiProgramming}")
print(f"nilai terkecil Pemrograman : {np.min(nilaiProgramming)}")
print(f"nilai terbesar Pemrograman : {np.max(nilaiProgramming)}")
print(f"nilai rata rata Pemrograman : {np.mean(nilaiProgramming)}")
print(f"total nilai Pemrograman : {np.sum(nilaiProgramming)}")
print(f"nilai standar deviasi : {np.std(nilaiProgramming)}")
print(f"nilai tengah Pemrograman : {np.median(nilaiProgramming)}")

nilai Pemrograman : [100  90  90  50  80  60  50  85]
nilai terkecil Pemrograman : 50
nilai terbesar Pemrograman : 100
nilai rata rata Pemrograman : 75.625
total nilai Pemrograman : 605
nilai standar deviasi : 18.275239396516806
nilai tengah Pemrograman : 82.5

In [94]:
#Operasi Bentuk
matX = np.array ([[1,2,3,4,5],[6,7,8,9,10]])
print(f"matX adalah:\n{matX}")
print(f"matX diubah bentuk:\n{matX.reshape(1,10)}")
print(f"matX diubah menjadi bentuk flat:\n{matX.flatten()}")

matX adalah:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
matX diubah bentuk:
[[ 1  2  3  4  5  6  7  8  9 10]]
matX diubah menjadi bentuk flat:
[ 1  2  3  4  5  6  7  8  9 10]

In [98]:
#filtering
lulus = nilaiProgramming[nilaiProgramming > 50]
print(f"daftar nilai yang lulus:{lulus}")
print(f"jumlah yang lulus:{lulus.size}")

daftar nilai yang lulus:[100  90  90  80  60  85]
jumlah yang lulus:6

<b1>Contoh kasus data set </b1>
Buatlah data set sebanyak 10.000 untuk proses klasifikasi nasabah kartu kredit
<ol>
    <li>Usia : 17 - 60</li>
    <li>Gennder : L/P</li>
    <li>Gaji: 1jt - 3jt,3jt - 5jt,5jt - 10jt</li>
    <li>JumlahAnak: 0 - 6</li>
    
</ol>

In [144]:
import numpy as np
import pandas as pd

n_data = 10000
usia = np.random.randint(17,61,size=n_data)
gender = np.random.choice(['L','P'],size=n_data)
gaji = np.random.choice(['1-3jt','3-5jt','5-10jt'],size=n_data)
anak = np.random.randint(0,7,size=n_data)

df = pd.DataFrame({
    'usia' : usia,
    'gender' : gender,
    'gaji' : gaji,
    'anak' : anak
})

df.to_csv('data_calon_nasabah.csv')

print(df.info())
print(df.head())
print(df.shape)
print(df.size)

#Tampilkan usia calon nasabah yg paling muda
print(f"Usia termuda : {df['usia'].min()}")
#Tampilkan usia calon nasabah yg paling tua
print(f"Usia tertua : {df['usia'].max()}")

#Tampilkan gaji rata rata
#tampilkan jumlahlaki laki
jmlLaki = df[df['gender']=='L']
print (f"jumlah calon nasabah pria : {jmlLaki.size/4}")
print (f"jumlah calon nasabah pria : {jmlLaki['gender'].size}")
#Tampilkan jumlah perempuan
jmlCewe = df[df['gender']=='P']
print (f"jumlah calon nasabah perempuan : {jmlCewe.size/4}")
print (f"jumlah calon nasabah perempuan : {jmlCewe['gender'].size}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   usia    10000 non-null  int32
 1   gender  10000 non-null  object
 2   gaji    10000 non-null  object
 3   anak    10000 non-null  int32
dtypes: int32(2), object(2)
memory usage: 234.5+ KB
None
   usia gender    gaji  anak
0    46      P   1-3jt     0
1    50      L   1-3jt     0
2    55      L   1-3jt     4
3    39      P   1-3jt     6
4    51      L  5-10jt     1
(10000, 4)
40000
Usia termuda : 17
Usia tertua : 60
jumlah calon nasabah pria : 4909.0
jumlah calon nasabah pria : 4909
jumlah calon nasabah perempuan : 5091.0
jumlah calon nasabah perempuan : 5091