In [5]:
name = "Deni Aditya"
age = 18
address,province = "Lembursitu","7413412"
scorePython = 99.9
isMarried = False

print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("Nilai Pemrograman :",scorePython)
print("Status Menikah :",isMarried)

Nama : Deni Aditya
Umur : 18
Alamat : Lembursitu
Nilai Pemrograman : 99.9
Status Menikah : False

In [18]:
print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePython>",type(scorePython))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [56]:
#Casting atau Konversi tipe data
#Konversi dari string ke (int,float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="-")
#Konversi dari int ke (str,float,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool, sep="-")
#Konversi dari float ke (int,str,bool)
floatToInt = int(scorePython)
floatToStr = str(scorePython)
floatToBool = bool(scorePython)
print(floatToInt,floatToStr,floatToBool, sep="-")
#Konversi dari bool ke (int,str,float)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)
print(boolToInt,boolToFloat,boolToStr, sep="-")

7413412-7413412.0-True
18-18.0-True
99-99.9-True
0-0.0-False

In [54]:
#Tipe data basis bilangan (desimal,biner,octal,hexa)
desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print ("nilai desimal :",desimal)
print ("nilai biner :",biner)
print ("nilai octal :",octal)
print ("nilai hexa :",hexa)

print ("nilai biner dari ",desimal, ":",bin(desimal))
print ("nilai octal dari ",desimal, ":",oct(desimal))
print ("nilai hexa dari ",desimal, ":",hex(desimal))

nilai desimal : 500
nilai biner : 10
nilai octal : 255
nilai hexa : 255
nilai biner dari  500 : 0b111110100
nilai octal dari  500 : 0o764
nilai hexa dari  500 : 0x1f4

In [64]:
#Tipe Data Collection
#List
cities = ["Bandung","Sukabumi","Bogor","Jakarta","Medan"]
lengthCities = len(cities)
print(cities)
print(cities[0])                                                                    
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities [0] = "Bali"
#cities[5] = "Malang" akan menyebabkan error out of range
print(cities)

#tuple
names = ("Deni","Aditya","Saputra")
print(names)
print(names[1])
#names[0] = "Dedi" error immutable tuple

#Dictionary
studentData = {
    "name" : "Nazriel",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" :  ["Football","Gamers","Hacker"]
}

print (studentData)
print (studentData["age"])
print (studentData["address"]["province"])
print (studentData["hobbies"][0])

#list of Dictionary
studentList = [
    {    "name" : "Nazriel",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "Jawa Barat"
    },
    "isMarried" : False,
    "Hobbies" : ["Football","Gamers","Hacker"]
},
   {     "name" : "Lukman",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "Jawa Barat"
    },
    "isMarried" : True,
    "hobbies" : ["Sex","Drinker","gambler"]
}
    
]
print (studentList[0])
print (studentList[1])
print (studentList[1]["address"]["province"])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
Bandung
Medan
M
n
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
('Deni', 'Aditya', 'Saputra')
Aditya
{'name': 'Nazriel', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Football', 'Gamers', 'Hacker']}
25
Jawa Barat
Football
{'name': 'Nazriel', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': False, 'Hobbies': ['Football', 'Gamers', 'Hacker']}
{'name': 'Lukman', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Sex', 'Drinker', 'gambler']}
Jawa Barat

In [ ]:
#Konversi dictionary
list_list = [["Name","Andi"],["Age",30],["Status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Rudi"),("Address","Bogor")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["Name","tiger"],["Type","Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuplr_