<h1>Aritmatika</h1>

In [16]:
x = int(input ("Isikan Nilai X:"))
y = int(input ("Isikan Nilai Y:"))

hasilTambah = x+y;
hasilKurang = x-y;
hasilKali = x*y;
hasilBagi = x/y;
hasilMod = x%y;
hasilPangkat = x ** y;
hasilBagiBulat = x // y;

print ("Hasil Penjumlahan" ,x,"+",y, "=",hasilTambah)
print ("Hasil Pengurangan" ,x,"-",y, "=",hasilKurang)
print ("Hasil Perkalian" ,x,"*",y, "=",hasilKali)
print ("Hasil Pembagian" ,x,"/",y, "=",hasilBagi)
print ("Hasil Modulus" ,x,"%",y, "=",hasilMod)
print ("Hasil Pangkat" ,x,"^",y, "=",hasilPangkat)
print ("Hasil Pembagian Bulat" ,x,"//",y, "=",hasilBagiBulat)

Isikan Nilai X: 10
Isikan Nilai Y: 3

Hasil Penjumlahan 10 + 3 = 13
Hasil Pengurangan 10 - 3 = 7
Hasil Perkalian 10 * 3 = 30
Hasil Pembagian 10 / 3 = 3.3333333333333335
Hasil Modulus 10 % 3 = 1
Hasil Pangkat 10 ^ 3 = 1000
Hasil Pembagian Bulat 10 // 3 = 3

<h1>Penugasan</h1>

In [22]:
number = int(input("Isikan Nilai :"))
print("Nilai dari variabel 'number' ",number)
number+=5
print("Setelah ditambah dengan 5:",number)
number-=10
print("Kemudian dikurangi 10:",number)
number/=2
print("Selanjutnya dibagi 2:",number)
number*=5
print("Terakhir dikalikan 5:",number)

Isikan Nilai : 6

Nilai dari variabel 'number'  6
Setelah ditambah dengan 5: 11
Kemudian dikurangi 10: 1
Selanjutnya dibagi 2: 0.5
Terakhir dikalikan 5: 2.5

<h1>Perbandingan</h1>

In [29]:
val1 = int(input("Isikan nilai Val1:"))
val2 = int(input("Isikan nilai Val2:"))

print("Apakah",val1,">",val2,"?", val1 > val2)
print("Apakah",val1,"<",val2,"?", val1 < val2)
print("Apakah",val1,">=",val2,"?", val1 >= val2)
print("Apakah",val1,"<=",val2,"?", val1 <= val2)
print("Apakah",val1,"==",val2,"?", val1 == val2)
print("Apakah",val1,"!=",val2,"?", val1 != val2)

Isikan nilai Val1: 6
Isikan nilai Val2: 3

Apakah 6 > 3 ? True
Apakah 6 < 3 ? False
Apakah 6 >= 3 ? True
Apakah 6 <= 3 ? False
Apakah 6 == 3 ? False
Apakah 6 != 3 ? True

In [39]:
number1 =int(input("Isikan number1:"))
number2 =int(input("Isikan number2:"))
number3 =int(input("Isikan number3:"))
number4 =int(input("Isikan number4:"))
#and
print("Apakah",number1,">",number2,"and",number3,"==",number4,"?")
print(number1>number2 and number3==number4)

#or
print("Apakah",number1,">",number2,"or",number3,"==",number4,"?")
print(number1>number2 or number3==number4)

#nand (not and)
print("Apakah",number1,">",number2,"not and",number3,"==",number4,"?")
print(not (number1>number2 and number3==number4))

Isikan number1: 7
Isikan number2: 3
Isikan number3: 9
Isikan number4: 9

Apakah 7 > 3 and 9 == 9 ?
True
Apakah 7 > 3 or 9 == 9 ?
True
Apakah 7 > 3 not and 9 == 9 ?
False

<h1>Identitas</h1>

In [ ]:
idty1 = 10
idty2 = "10"
idty3 = idty1

print ("Alamat memory idty1",id (idty1))
print ("Alamat memory idty2",id (idty2))
print ("Alamat memory idty3",id (idty3))
print ("Apakah idty1 is idty2",idty1 is idty2)
print ("Apakah idty2 is idty3",idty2 is idty3)
print ("Apakah idty3 is idty1",idty3 is idty1)

print ("Apakah idty1 is not idty2",idty1 is not idty2)
print ("Apakah idty2 is not idty3",idty2 is not idty3)
print ("Apakah idty3 is not idty1",idty3 is not idty1)

<h1>Keanggotaan</h1>

In [55]:
listFruit = ["Watermelon","Manggo","Star Fruit","Pineapple"]
findFruit = input("insert your fruit:")
print("Is There Any",findFruit,"in" ,listFruit,"?", findFruit in listFruit)
print("Is There Any",findFruit,"not in" ,listFruit,"?", findFruit not in listFruit)

insert your fruit: Manggo

Is There Any Manggo in ['Watermelon', 'Manggo', 'Star Fruit', 'Pineapple'] ? True
Is There Any Manggo not in ['Watermelon', 'Manggo', 'Star Fruit', 'Pineapple'] ? False

In [59]:
#Operator Bitwise
num1 = int(input("insert bilangan 1;"))
num2 = int(input("insert bilangan 2;"))

bAnd =num1 & num2
print (bin(num1))
print (bin(num2))
print ("========&")
print (bin(bAnd),"=",bAnd)
print()
bOr =num1 | num2
print (bin(num1))
print (bin(num2))
print ("========|")
print (bin(bOr),"=",bOr)

insert bilangan 1; 10
insert bilangan 2; 12

0b1010
0b1100
========&
0b1000 = 8

0b1010
0b1100
========|
0b1110 = 14

<h1>Ternary</h1>

In [64]:
#bilangan Ganjil atau genap
bil = int(input("Isikan Bilangan:"))
oddEven = "Genap" if bil %2==0 else "Ganjil"
print (bil,"adalah bilangan",oddEven)

Isikan Bilangan: 999999999999

999999999999 adalah bilangan Ganjil

<h1>Tugas</h1>

In [69]:
esBuah = int(input("Jumlah Es Buah :"))
esTeler = int(input("Jumlah Es Teler :"))
esKelapa = int(input("Jumlah Es Kelapa :"))

esb = 10000 * esBuah
est = 15000 * esTeler
esk = 20000 * esKelapa
totalHarga = esb+est+esk
diskon = totalHarga*1/10 if totalHarga >=100000 else 0
totalBayar = totalHarga - diskon

print ("Harga Es Buah Yang Dibeli:", esb)
print ("Harga Es Teler Yang Dibeli:",est)
print ("Harga Es Kelapa Yang Dibeli:",esk)
print ("Total Harga:", totalHarga)
print ("Diskon:", diskon)
print ("Total Bayar:",totalBayar)

Jumlah Es Buah : 1
Jumlah Es Teler : 2
Jumlah Es Kelapa : 3

Harga Es Buah Yang Dibeli: 10000
Harga Es Teler Yang Dibeli: 30000
Harga Es Kelapa Yang Dibeli: 60000
Total Harga: 100000
Diskon: 10000.0
Total Bayar: 90000.0

In [71]:
bil = (input())
kurang = int(bil[0])+int(bil[1])+int(bil[2])+int(bil[3])
hasil = int(bil) - kurang
print("",kurang)
print ("",hasil)

 1234

 10
 1224