In [5]:
import pandas as pd

df = pd.read_csv("personality_dataset.csv")

df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [7]:
summary_table = df.groupby('Personality').mean(numeric_only=True).reset_index()

#Rata rata berdasarkan kepribadian
print("\nTabel Rata-Rata Berdasarkan Kepribadian:")
display(summary_table)

Tabel Rata-Rata Berdasarkan Kepribadian:

,Personality,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
0,Extrovert,2.067261,6.016405,4.634615,9.173673,5.638546
1,Introvert,7.080435,1.778909,1.272859,3.196793,1.368918

In [9]:
#Statistik Rata-Rata Berdasarkan Kepribadian
grouped = df.groupby('Personality').mean(numeric_only=True)
print("\nRata-rata per Kepribadian:")
print(grouped)

Rata-rata per Kepribadian:
             Time_spent_Alone  Social_event_attendance  Going_outside  \
Personality
Extrovert            2.067261                 6.016405       4.634615
Introvert            7.080435                 1.778909       1.272859

             Friends_circle_size  Post_frequency
Personality
Extrovert               9.173673        5.638546
Introvert               3.196793        1.368918

In [11]:
#korelasi antar tabel dan kolom
correlation_table = df.corr(numeric_only=True)

print("\nTabel Korelasi Antar Variabel Numerik:")
display(correlation_table)
#untuk melihat pengaruh antar kolom nya

Tabel Korelasi Antar Variabel Numerik:

,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
Time_spent_Alone,1.000000,-0.733011,-0.750760,-0.717185,-0.732649
Social_event_attendance,-0.733011,1.000000,0.747756,0.734795,0.744615
Going_outside,-0.750760,0.747756,1.000000,0.736390,0.770819
Friends_circle_size,-0.717185,0.734795,0.736390,1.000000,0.707888
Post_frequency,-0.732649,0.744615,0.770819,0.707888,1.000000

In [13]:
stagefear_summary = df.groupby('Stage_fear').mean(numeric_only=True).reset_index()

print("\nTabel Rata-Rata Berdasarkan Stage Fear (Takut Panggung):")
display(stagefear_summary)

Tabel Rata-Rata Berdasarkan Stage Fear (Takut Panggung):

,Stage_fear,Time_spent_Alone,Social_event_attendance,Going_outside,Friends_circle_size,Post_frequency
0,No,1.533237,6.433405,4.973247,9.825961,6.046965
1,Yes,7.514823,1.450653,1.005793,2.652838,1.051487

In [15]:
personality_counts = df['Personality'].value_counts().reset_index()
personality_counts.columns = ['Personality', 'Jumlah_Orang']

print("\nJumlah Orang Berdasarkan Kepribadian:")
display(personality_counts)

Jumlah Orang Berdasarkan Kepribadian:

  Personality  Jumlah_Orang
0   Extrovert          1491
1   Introvert          1409